* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin:0 ;
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    margin:0;
    padding: 0;
    font-size: 3em;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 3em;
}

p {
    text-align:justify;
    margin: 0;
    margin-top: 8px;
    padding: 0;
}

hr {
    width: 90%;
    margin: auto;
}

footer {
    display: block;
    height: 100px;
}