

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

th{
    text-align: left;
    font-weight: normal;
}

body {
    margin:0 ;
    background-color: var(--main-bg-color);
}

h1 {
    margin: 0;
    padding: 0;
    font-size: clamp(5rem, 4vw, 12rem);
}

h2 {
    margin:0;
    padding: 0;
    font-size: clamp(1.5rem, 4vw, 3em);
}

h3 {
    margin: 0;
    padding: 0;
    font-size: clamp(1rem, 4vw, 3em);
}

li > h3 {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

li > i {
    margin-bottom: 16px;
    width: 75px;
    height: 75px;
}

pre {
    margin:0;
    padding:0;
}

p {
    margin: 0;
    margin-top: 8px;
    padding: 0;
}

hr {
    width: 90%;
    margin: auto;
}

footer {
    display: block;
    min-height: 100px;
}