#aboutMe{
    background-color: var(--bg);
}

#pricing, #wid{
    background-color: var(--bg);
}

#contactMe, #aboutMe, #wid, #projects, #pricing, #faq {
    scroll-margin-top: 90px;
}

#projects{
    background-color: var(--bg-dark);
}

 #faq{
    background-color: var(--bg);
}

#contactMe {
    background-color: var(--bg-dark);
}

#return-to-top{
    background-color: var(--bg-dark);
}

.echo {
    box-shadow: -124px -32px 0px 0px var(--bg-dark);
}

.projectLibrary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px;
    max-width: 1200px;
    margin: auto;
    padding: 32px;
}

.projectLibrary .project {
    width: 100%;
}

.about-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titlebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textbox {
    max-width: 600px;
    font-size: 1.25rem;
    text-align: start;
}

.muted{
    color: var(--text-muted);
    transition: color 0.2s ease;
}

.project:hover .muted {
    color: var(--text);
}

.detailContainer:hover .muted {
    color: var(--text);
}

.muted:hover {
    color: var(--text);
}

.packageContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    gap: 32px;
    justify-content: center;
    align-items: stretch;
}


.package{
    flex: 1 1 300px;
    max-width: 360px;
    height: 450px;
    display: grid;
    background-color: var(--bg-dark);
    padding: 32px;
    border-radius: 32px;
}

@media (max-width: 600px){
    .package {
        height: 350px;
    }
}

.package .bottom {
    margin-top: auto;
}

.price{
    font-size: xxx-large;
    font-weight: 700;
}

.price > span, .dark .price > span {
    font-size: medium;
    font-weight:400;
    color: var(--text-muted)
}

.offers{
    list-style: none;
}

.offers li {
    display: flex;
    justify-content: space-between;
}

.offers li::after {
    content: "✓";
    margin-left: 1rem;
    font-weight: 700;
    color: var(--secondary);
}

.recommend{
    background-color: var(--primary);
    color: white;
}

.dark .recommend {
    background-color: var(--bg-dark);
    border: white solid 2px;
    box-shadow: 1px 1px 8px 3px var(--secondary);
}

.recommend .price *{
    color: white;
}

body:not(.dark) .recommend .bigButton{
    color: white;
    border: white solid
}

body:not(.dark) .recommend .bigButton:hover {
    color: var(--primary);
    background-color: white;
}


body:not(.dark) .recommend .offers li::after {
    content: "✓";
    margin-left: 1rem;
    font-weight: 700;
    color: white;
}

.offers li.loss::after {
    content: "✗";
    margin-left: 1rem;
    color: var(--text-muted)
}

.loss {
    color: var(--text-muted);
}

.faqContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 800px;
    justify-content:center;
    border: var(--primary) solid 2px;
    cursor: pointer;
    border-radius: 16px;
    padding: 16px;
    user-select: none;
}

.questionContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.questionContainer i{
    transition: all 0.2s ease-in-out;
}

.question {
    display: flex;
    align-items: center;
    gap: 16px;
}

.question {
    font-size: x-large;
}

.answer {
    width: 100%;
    font-size: large;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    color: var(--text);
}

/* if active, show answer */
.faqContainer.active .answer {
    margin-top: 8px;
    max-height: 300px;
    opacity: 1;
}

.faqContainer.active .question {
    color: var(--primary)
}

.faqContainer.active i {
    transform: rotate(-180deg);
}

.toggle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: var(--bg-light);
    border-radius: 16px;
    cursor: pointer;
}

.toggle i {
    font-size: 24px;
    color: var(--text);
}

.toggle i:last-child {
    display: none;
}

.dark .toggle i:first-child {
    display: none;
}

.dark .toggle i:last-child {
    display: block;
}

.footerLinks{
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    justify-content: center;
}

.footerLinks.end{
    text-align: end;
}

@media (max-width: 600px){

    .footerLinks li {
        margin-top: 8px;;
    }
    footer .col-2 {
        gap: 8px;
        flex-direction: column;
        text-align: start;
    }

    .footerLinks.end {
        text-align: start;
    }
}

.footerLinks a {
    text-decoration: none;
    color: var(--text);
}

.footerLinks a:hover{
    color: var(--primary);
    text-decoration: underline;
}

.tooltip {
    position: relative;
    display: block;
    cursor: pointer;
}

.tooltiptext {
    visibility: hidden;
    width: fit-content;
    bottom: 120%;
    left: 75%;
    margin-left: -50%;
    background-color: var(--primary);
    color: var(--bg);
    font-size: 15px;
    text-align: center;
    padding: 4px 8px;
    border-radius: 6px;
    position: absolute;
    z-index: 1; /* Ensure tooltip is displayed above content */
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--primary) transparent transparent transparent;
}

/* Show the tooltip text on hover */
.tooltip:hover .tooltiptext {
    visibility: visible;
    
}

.deets {
    overflow: visible;
    font-size: x-large;
    transition: all .2s;
    border-radius: 8px;
    padding: 0px 8px;
}

.deets:hover {
    background-color: var(--primary);
    color: var(--bg);
    border-radius: 8px;
}

@media (max-width: 600px){
    .deets {
        font-size: large;
    }
}

@media (max-width: 400px){
    .deets {
        font-size: medium;
    }
}

.field {
    font-size: small;
    padding-right: 8px;
    color:var(--text-muted);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 8px;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0); /* remove text shadow */
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
}

.buttonContainer > * {
    flex: 1;
}

.mediaContent {
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.media {
    aspect-ratio: 4/3;
    max-width: 300px;
    object-fit: cover;    
    border-radius: 32px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    width: 60vw;
}

.headerContainer {
    margin: auto;
    padding-top: 100px;
    min-height: 400px;
    position: relative;
    display: block;
}

.banner {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.73), transparent 100%);
}

.frame {
    position:absolute;
    top: calc(60% - 100px);
    transform: translateY(-50%);
    right: 0%;
    max-width: 1000px;
    width: 80%;
    margin: auto;
    border-radius: 0px 50% 0px 0px;
    box-shadow: 16px 32px 16px #0000002f;
}

.plainHeader {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

.header {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin:auto;
    min-width: fit-content;
    top: 60%;
    transform: translateY(-50%);
    left: 10%;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.7);
}

.header > *{
    font-size: clamp(16px, 10vw, 100px);
}

.header pre {
    font-size: clamp(8px, 5vw, 50px);
}

@media (max-width: 900px) {
    nav .ctaButton {
        display: none;
    }
  .menu-btn {
    display: block;
  }

  .navLinks {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    flex-direction: column;
    display: none;
  }

  .navLinks.open {
    display: flex;
  }
}

pre.caret-bar {
    display: flex;
    word-wrap: break-word;
    min-width: 100px;
}

pre.caret-bar > span {
  animation: blink 1s step-end infinite;
  border-left: 2px solid var(--text);
}

pre.caret-bar > div {
    font-size: clamp(8px, 5vw, 60px);
}

.projects {
    list-style-type: none;
    padding: 0;
}

.projectItem {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    min-height: 350px;
    justify-content: center;
    align-items: center;
    gap: 16px 5vw;
    margin: 64px auto;
}

.topicContainer {
    display: block;
    margin: auto;
    padding: 32px;
    max-width:800px;
}

.navBarContainer {
    display:flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--bg);
}

.navBar {
    display:flex;
    padding: 8px 32px;
    width: 80%;
    justify-content:space-between;
    align-items: center;
}

.navItem.selected {
  font-weight: 700;
  border-bottom: 2px solid var(--primary);
}

.navItem {
    display: inline;
    margin-right: 16px;
    font-size: 0.8rem;
}

.pfp {
    width: 80px;
    height: auto;
    border-radius: 50%;
}

.navItem a {
    text-decoration: none;
    font-size: 1.5em;
}

nav {
    background-color: var(--bg);
    color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  
ul.links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
  
ul.links li {
margin-right: 20px;
}

ul.links li a {
color: var(--text);
text-decoration: none;
transition: color 0.3s;
}

ul.links li a:hover {
color: var(--primary);
}

.checkbtn {
    font-size: 30px;
    color: var(--text);
    cursor: pointer;
    display: none;
  }

#check {
    display: none;
}

@media (max-width: 900px) {
    .navBar{
        width: 100%;
    }

    .checkbtn {
      display: block;
      order: 1;
      margin-right: 20px;
    }
  
    ul.links{
      position: fixed;
      top: 80px;
      right: -60%;
      background-color: rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10px);
      width: 60%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
    }
  
    ul.links li {
      margin: 20px 0;
    }
  
    ul.links li a {
      font-size: 20px;
    }
  
    #check:checked ~ ul.links {
      right: 0;
    }
}

.projectItem img{
    object-fit: cover;
    width: 300px;
    height: auto;
}

.tags {
    display: inline-grid;
    grid-auto-flow: column;
    grid-column-gap: 8px;
    list-style-type: none;
    padding-left: 0px;
}

.tags li {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 4px 8px;
}

.service {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 16px;
    border-radius: 16px;
    border: var(--bg-light) solid 2px;
    background-color: var(--bg-dark);
    transition: all 0.2s ease;
}

.service * {
    transition: all 0.2s ease;
}

.dark .service:hover{
    border: white solid 2px;
    box-shadow: 1px 1px 8px 3px var(--secondary);
}

body:not(.dark) .service:hover{
    transform: translate(-8px, -8px);
    box-shadow: 8px 8px 8px 3px var(--text-muted);
}

.service:hover p{
    color: var(--text);
}

.small-h3{
    font-size: 1.5rem;
}

.service:hover .small-h3, .service:hover i{
    transform: scale(1.2);
}

.service:hover i{
    animation: wiggle 0.5s ease-in-out;
}

.service:hover .small-h3{
    color: var(--primary);
}

@keyframes wiggle {
    0% {rotate: 0deg;}
    25% {rotate: -10deg;}
    75% {rotate: 10deg;}
    100% {rotate: 0deg;}
}

@media (max-width: 800px) {
  .service {
    aspect-ratio: auto;   /* stop portrait on mobile */
    padding: 16px;
  }
}

.servicesContainer {
    width: 100vw;
    max-width: 1200px;
    display: grid;
    padding: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.process {
    text-align: center;
    font-size: larger;
}

.ctaButton{
    min-width: 200px;
    margin: 12px;
    border: var(--primary) solid;
    border-radius: 100px;
    padding: 8px 16px;
    text-decoration: none;
    color: var(--primary);
    font-size: 2rem;
    text-align: center;
    transition: all 0.2s ease;
}

.ctaButton.reverse{
    min-width: 200px;
    margin: 12px;
    border: var(--primary) solid;
    border-radius: 100px;
    padding: 8px 16px;
    text-decoration: none;
    color: var(--bg-light);
    background-color: var(--primary);
    font-size: 2rem;
    text-align: center;
}

.dark .ctaButton:hover:not(.grow) {
    box-shadow:0 0 24px 0 var(--secondary);
}

.ctaButton:hover:not(.grow) {
    background-color: var(--primary); 
    color: var(--bg);
}

.bigButton {
    display: inline-block;
    border: var(--primary) solid;
    margin-top: 8px;
    margin-right: 4px;
    border-radius: 100px;
    padding: 8px 16px;
    text-decoration: none;
    color: var(--primary);
    font-size: 1rem;
    transition-duration: 0.4s;
}

.dark .bigButton:hover:not(.grow) {
    box-shadow:0 0 12px 0 var(--secondary);
}

.bigButton:hover:not(.grow) {
    background-color: var(--primary); 
    color: var(--bg);
}

.formGroup {
    margin-bottom: 16px;
    display: block;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid var(--border);
    background-color: var(--bg-light);
    border-radius: 4px;
    font-size: 1em;
    color: var(--text)
}

textarea{
    height: 200px;
}

input[type=submit] {
  background-color: var(--primary);
  color: var(--bg-light);
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contactContainer {
    display: block;
    max-width: 600px;
    width: 100%;
    border: var(--border-muted) solid 2px;
    border-top: var(--highlight) solid 2px;
    border-left: var(--highlight) solid 2px;
    border-radius: 16px;
    background-color: var(--bg-dark);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding: 32px;
}

.contactContainer > * {
    color: var(--text);
}

.box {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    gap: 16px;
    max-width: 600px;
    padding: 0px 8px; 
}

.myTable {
    width: 100vw;
    max-width: 600px;
}

/* TabUtility */

.tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    text-align: center;
    gap: 8px;
}

.tabLinks {
    cursor: pointer;
    padding: 14px 32px;
    transition: all 0.2s ease-in-out;
    font-size: x-large;
    background-color: var(--bg);
    border-radius: 16px;
    border: var(--primary) solid 2px;
    color: var(--text);
}
.dark .tabLinks:hover {
    box-shadow:0 0 16px 0px var(--secondary);
    border: white solid 2px;
}

.tabLinks:hover {
    background-color: var(--primary); 
    color: var(--bg);
}

.dark .tabLinks.active {
    box-shadow:0 0 16px 0px var(--secondary);
    border: white solid 2px;
}

.tabLinks.active {
    background-color: var(--primary);
    border: white solid 2px;
    color: var(--bg);
}

.tabContent {
    display: none;
    gap: 16px;
    margin: auto;
}

.gallery {
    display: grid;
    margin-top: 32px;
    max-height: min(80vh, 1000px);
    grid-template-columns: repeat(auto-fit,
    minmax(12.5rem, 1fr));
    grid-auto-rows: 12.5rem;
    grid-auto-flow: dense;
    gap: 0.75rem;
    border-radius: 32px;
    overflow:hidden;
}

.gallery figure {
    container: figure / inline-size;
    cursor: pointer;
    overflow: hidden;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr);
}

.gallery img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    
    grid-area: 1 / 1 / -1 / -1;

    transition: scale 1s ease-in-out;
}

.gallery figure:hover img{
    scale: 1.125;
}

.gallery figcaption {
    grid-area: 1 / 1 / -1 / -1;
    align-self: end;
    z-index: 1;

    padding: 3em 15% 1em 1em;
    color: var(--text);
    font-size: 0.875rem;
    line-height: 1.3;
    background: linear-gradient(transparent 25%, rgb(0 0 0 / 0.75));
    display: none;
}

@container figure (width > 20rem) {
    .gallery figcaption {
        display: block;
    }
}

.gallery figcaption h3 {
    font-size: 1.0625rem;
}

.gallery figcaption p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (width > 600px) {
    .gallery figure:nth-child(1), .gallery figure:nth-child(5n){
        grid-area: span 2 / span 2;
    }

    .gallery figure:nth-child(3n+1) {
        grid-row: span 2;
    }

    .gallery figure:nth-child(3n+2) {
        grid-column: span 2;
    }
}

/* View */

.modal {
    display: none;
    overflow: auto;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
    animation: fadeIn 0.3s ease forwards;
}

.modal-bg{
    position: absolute;
    width: 100%;
    height: 100%;
}

.modalContent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;

    min-height: 800px; 
    height: fit-content;
    max-width: 1400px;
    width: 80%;

    background-color: #4f3824;
    padding: 32px;
    border-radius: 32px;
    animation: flickerIn 0.5s ease forwards;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

@keyframes flickerIn {
    from {transform: translate(-50%, -100%); opacity: 0;}
    to {transform: translate(-50%, -50%); opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.modalContent img {
    min-width: 300px;
    width: 100%;
    max-width: 600px;
    object-fit: contain;
    height: 100%;
}

.caption {
    min-width: 300px;
    width: 100%;
    max-width: 600px;
}

.close {
    position: absolute;
    top: 16px;
    right: 16px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: darkred;
    text-decoration: none;
    cursor: pointer;
}

/* slideshow */
.project{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-inline:auto;
    width: 400px;
    justify-content:space-evenly;
    align-items: center;
    gap: 0px 32px;
}

.projectContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    width: 100%;
    position: relative;
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--text);
  }
}

.iconContainer {
    display: flex;
    width: 100%;
    max-width: 600px;
    color: var(--primary);
    gap: 16px;
    text-decoration: none;
    margin: auto;
}

.shadow {
    text-shadow: 2px 4px 4px black;
}

.contactDetails {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.detailContainer {
    display: flex;
    align-items: center;
    color: var(--text);
    gap: 16px;
    margin-bottom: 8px;
}

.detailContainer:hover .icon{
    color: var(--bg);
    background-color: var(--primary);
    transform: scale(1.1);
}

.dark .detailContainer:hover .icon{ 
    border: white solid 2px;
    box-shadow: 1px 1px 8px 3px var(--secondary);
}

.detailContainer .icon {
    display: flex;
    aspect-ratio: 1;
    font-size: 1.7rem;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    padding: 12px;
    border: solid 2px var(--primary);
    border-radius: 50%;;
    transition: all 0.2s ease;
}

.detailContainer .detail {
    display: flex;
    flex-direction: column;
    font-size: larger;
    transform: translateY(-8px);
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}