:root {
    --bg-light: oklch(1 0 0);
    --bg: oklch(0.97 0 0);     
    --bg-dark: oklch(0.92 0 0);     
    --primary: oklch(0.66 0.11 45);
    --secondary: oklch(0.8506 0.0534 146.8);
    --submit: oklch(0.6509 0.1491 158.9);
    --text: oklch(0.18 0 0);
    --text-muted: oklch(0.4202 0 89.9);
}

.dark {
    --bg-light: oklch(0.24 0 0);
    --bg: oklch(0.18 0 0);   
    --bg-dark: oklch(0 0 0);     
    --primary: oklch(0.66 0.11 45);
    --secondary: oklch(0.8506 0.0534 146.8);
    --submit: oklch(0.6509 0.1491 158.9);
    --text: oklch(0.97 0 0);   
    --text-muted: oklch(73 0 158)
}