:root {
    --bg: #f0f0f0;
    --bg-2: white;
    --primary: #be805e;
    --submit: #04AA6D;
    --text: black;
}

.dark {
    --bg: #1c1c1c;
    --bg-2: black;
    --primary: #be805e;
    --submit: #04AA6D;
    --text: white;
}