/*
    color
    sizes
    padding
    other
*/


/* color */
.white {
    color: white;
}

.black {
    color: black;
}

.outline {
    outline: black solid;
}


/*sizes*/
.belt {
    max-width: 900px;
}

.vh-40 {
    height: 40vh;
}

.vh-45 {
    min-height: 45vh;
}

.min-vh-60 {
    min-height: 60vh;
}

.vh-80 {
    height: 80vh;
}

.vh-100 {
    height: 100vh;
}

.thumbnail {
    max-width: 300px;
    max-height: 300px;
}

.largeThumbnail {
    border-radius: 16px;
    width: 30vw;
    max-width: 400px;
}

.squeeze {
    max-width:1400px;
    margin: auto;
    padding: 16px;
}

.scroll {
    display: block;
    height: 100%;
    overflow: auto;
}

.w-80 {
    width: 80%;
}

.w-100 {
    width: 100%;
}


/* Whitespaces */
.bigPadding {
    padding: 128px;
}

.dentRight {
    margin-right: 128px;
}

.dentLeft {
    margin-left: 128px;
}  
.dentBoth {
    margin: 64px 64px;
}

.autoMargin{
    margin:auto;
}

.autoPadding{
    padding:auto;
}


/*Other*/
.left { /*TODO: Remame for accuracy*/
    flex-direction: row-reverse;
}

.grow {
    display: inline-block;
    transition: transform .2s;
}

.grow:hover {
    transform: scale(1.1);
}

.down {
    position: absolute;
    bottom: 16px;
}

.center{
    display: grid;
    place-items: center;
}


.behind {
    z-index: -1;
}

.lancify {
    display: inline;
    color: var(--primary);
}