.bigPadding {
    padding: 128px;
}

.thumbnail {
    max-width: 300px;
    max-height: 300px;
}

.largeThumbnail {
    border-radius: 16px;
    width: 30vw;
    max-width: 400px;
}

.large {
    font-size: x-large;
}

.belt {
    max-width: 900px;
}

.forty {
    height: 40vh;
}

.sixty {
    height: 60vh;
}

.eighty {
    height: 80vh;
}

.hundred {
    height: 100vh;
}

.alignRight, .alignRight *{
    text-align: end;
}

.dentRight {
    margin-right: 128px;
}

.dentLeft {
    margin-left: 128px;
}  
.dentBoth {
    margin: 64px 64px;
}

.white {
    color: white;
}

.black {
    color: black;
}

.left { /*TODO: Remame for accuracy*/
    flex-direction: row-reverse;
}

.squeeze {
    max-width:1000px;
    margin: auto;
    padding: 16px;
}

.grow {
    display: inline-block;
    transition: transform .2s;
}

.grow:hover {
    transform: scale(1.1);
}

.down {
    position: absolute;
    bottom: 16px;
}

.outline {
    outline: black solid;
}