/*
    color
    sizes
    padding
    other
*/


/* color */
.white {
    color: white;
}

.black {
    color: black;
}

.outline {
    outline: red solid;
}


/*sizes*/
.belt {
    max-width: 900px;
}

.vh-40 {
    height: 40vh;
}

.vh-45 {
    min-height: 45vh;
}

.min-vh-20 {
    min-height: 20vh;
}

.min-vh-40 {
    min-height: 40vh;
}

.min-vh-60 {
    min-height: 60vh;
}

.vh-80 {
    height: 80vh;
}

.vh-100 {
    height: 100vh;
}

.h-100 {
    height: 100%;
}

.thumbnail {
    width: 100%;
    max-width: 400px;
}

.largeThumbnail {
    border-radius: 16px;
    width: 30vw;
    max-width: 400px;
}

.squeeze {
    max-width:1400px;
}

.scroll {
    display: block;
    height: 100%;
    overflow: auto;
}

.h-128 {
    height: 128px;
}

.w-80 {
    width: 80%;
}

.vw-100 {
    width: 100vw;
}

.align-start {
    align-items: start;
}

.align-center {
    align-items: center;
}

.col-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2-1 {
    max-width: 1000px;
}


/* Whitespaces */
.gap-16 {
    gap: 16px;
}

.gap-32 {
    gap: 32px;
}

.gap-64 {
    gap: 64px;
}

.gap-128 {
    gap: 128px;
}

.p-8{
    padding: 8px;
}

.pad-w-16 {
    padding:0px 16px ;
}

.pad-w-32 {
    padding:0px 32px ;
}

.pad-w-64 {
    padding:0px 32px ;
}

.pad-h-16 {
    padding: 16px 0px;
}

.pad-h-32 {
    padding: 32px 0px;
}

.pad-h-t-32 {
    padding: 32px 0px 0px 0px;
}

.pad-32 {
    padding: 32px;
}

.pad-64 {
    padding: 64px;
}

.bigPadding {
    padding: 128px;
}

.dentRight {
    margin-right: 128px;
}

.dentLeft {
    margin-left: 128px;
}  
.dentBoth {
    margin: 64px 64px;
}

.autoMargin{
    margin:auto;
}

.autoPadding{
    padding:auto;
}


/*Other*/
.reverse {
    flex-wrap: wrap-reverse;
}

.left { /*TODO: Remame for accuracy*/
    float: left;
}

.right {
    text-align: end;
}

.grow {
    display: inline-block;
    transition: transform .2s;
}

.grow-s {
    display: inline-block;
    transition: transform 1s ease;
}

.grow:hover {
    transform: scale(1.1);
}

.project:hover > .grow-s {
    transform: scale(1.05);
}

.row:hover td {
    transform: scale(1.1);
}

.hover, .hover-2 {
    display: inline-block;
    transition: transform .2s;
}

.hover a p, .hover-2 a p {
    transform: translate(105px, 28px);
    font-size: larger;
    color: transparent;
    transition: 0.4s;
}

.hover:hover a p{
    transform: translate(110px, 28px);
    color: var(--text);
}

.hover-2:hover a p{
    transform: translate(110px, 28px);
    color: white;
}

.down {
    position: absolute;
    bottom: 16px;
}

.center{
    display: grid;
    place-items: center;
}


.behind {
    z-index: -1;
}

.lancify {
    display: inline;
    color: var(--primary);
}

.icon-lancify {
    display: grid;
    margin: auto;

    border-radius: 16px;
    place-items: center;
    width: 100px;
    height: 100px;
    background-color: var(--primary);
    color: var(--bg-light);
}

.flex-wrap-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.justify-even {
    justify-content: space-evenly;
}

.align-start {
    align-items: start;
}