.constructionBody{
    background-color: #c4daee;
}

.contactBody{
    background: linear-gradient(#d1603d, #ff8d4a, #d1603d);
}

.authorBody {
    background-color: #4f3824;
    color: white;
    font-size: 1rem;
    

    min-block-size: 100vh;
    min-block-size: 100dvh;
    min-block-size: 100svh;

}