body {
    font-family: "Outfit", sans-serif;
}

.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.displaySize {
  font-family: "Outfit", sans-serif;
  max-width: 100vw;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: clamp(2.3rem,4vw,3rem);
}

.largeBody {
  font-size: 1.5rem;
}

.large {
  font-size: x-large;
}

.alignRight, .alignRight *{
  text-align: end;
}

.i-24 {
  font-size: 24px;
}

.i-64 {
  font-size: 64px;
}

.boldTitle {
  font-size: clamp(1rem, 6vw, 200px);
}

.boldSubtitle {
  font-size: clamp(1rem, 2.5vw, 100px);
}

.clamp {
  font-size: clamp();
}

.readable > p{
  font-size: clamp(16px, 2.5vw, 20px);
}