body {
    font-family: "Outfit", sans-serif;
}

.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.displaySize {
  font-family: "Outfit", sans-serif;
  font-size: 3em;
}

.large {
    font-size: x-large;
}

.alignRight, .alignRight *{
    text-align: end;
}

.i-64 {
    font-size: 64px;
}