body {
    font-family: "Outfit", sans-serif;
}

.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.displaySize {
  font-family: "Outfit", sans-serif;
  max-width: 100vw;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: clamp(2.3rem,4vw,3rem);
}

.largeBody {
  font-size: 1.5rem;
}

.large {
  font-size: 1.25rem;
}

.x-large {
  font-size: 1.5rem;
}

.alignRight, .alignRight *{
  text-align: end;
}

.i-4 {
  font-size: clamp(2rem, 6vw ,4rem);
}

.i-24 {
  font-size: 24px;
}

.i-32 {
  font-size: 32px;
}


.i-64 {
  font-size: 64px;
  line-height: 1;
}

.boldTitle {
  font-size: clamp(1rem, 6vw, 200px);
}

.boldSubtitle {
  font-size: clamp(1rem, 2.5vw, 100px);
}


.readable > p{
  font-size: clamp(16px, 2.5vw, 20px);
}

.eyebrow {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  line-height: 0px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: var(--primary);
  margin-bottom: 4px;
}

.eyebrow-hero {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: var(--text);
  margin-bottom: 4px;
}

.bold {
    font-weight: 600;
}