/*
main elements

page classes

group classes

properties
*/

/* main elements */

body {
    margin:0 ;
}

h1 {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 3em;
}

p {
    text-align:justify;
    margin: 0;
    margin-top: 8px;
    padding: 0;
}

/* page classes */

.constructionBody{
    background-color: #c4daee;
}

.contactBody{
    background: linear-gradient(#d1603d, #ff8d4a, #d1603d);
}

.authorBody {
    background-color: #4f3824;
    color: white;
}

/* group classes */

.headerContainer {
    margin: auto;
    min-height: 400px;
    position: relative;
    display: block;
}

.banner {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.73), transparent 100%);
}

.frame {
    position:absolute;
    bottom: 100px;
    right: 20%;
    max-width: 400px;
    max-height: 300px;
    margin: auto;
}

.plainHeader {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

.header {
    position: absolute;
    margin:auto;
    bottom: 32px;
    left: 10%;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.header a {
    color: white;
    margin-right: 16px;
    text-decoration: none;
}

.projects {
    list-style-type: none;
    padding: 0;
}

.projectItem {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 350px;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 16px;
}

.topicContainer {
    display: block;
    margin: auto;
    padding: 32px;
    max-width:800px;
}

.navBar {
    display:flex;
    justify-content:center;
    list-style-type: none;
    margin: 0;
    padding: 32px; 
}

.navItem {
    display: inline;
    margin-right: 16px;
    font: 2em;
}

.navItem a {
    text-decoration: none;
    font-size: 1.5em;
}

.projectItem img{
    object-fit: cover;
    width: 300px;
    height: auto;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
    padding-left: 0px;
}

.tags li {
    display: inline;
    background-color: #f0f0f0;
    border-radius: 16px;
    margin: 0px 8px 8px 0px;
    padding: 4px 8px;
}

.bigButton {
    display: inline-block;
    border: #4f3824 solid;
    margin-top: 8px;
    margin-right: 4px;
    border-radius: 4px;
    padding: 4px 8px;
    text-decoration: none;
    color: #4f3824;
    font-size: 1em;
}

.formGroup {
    margin-bottom: 16px;
    display: block;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container {
    display: block;
    border-radius: 16px;
    background-color: #ff754a;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding: 32px;
}

/* properties */

.belt {
    max-width: 900px;
}

.forty {
    height: 40vh;
}

.eighty {
    height: 80vh;
}

.dentRight {
    margin-right: 64px;
}

.dentLeft {
    margin-left: 64px;
}  

.white {
    color: white;
}

.black {
    color: black;
}

.left { /*TODO: Remame for accuracy*/
    flex-direction: row-reverse;
}

.squeeze {
    margin: 0 32px;
}

.grow {
    display: inline-block;
    transition: transform .2s;
}

.grow:hover {
    transform: scale(1.2);
}

.down {
    position: absolute;
    bottom: 16px;
}

/* slideshow */
.photoSlide, .workSlide {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin:auto;
    height: 450px;
}

/*Make the images 4:3*/
.photoSlide img, .workSlide img {
    height: 100%;
    user-select: none;
}

.slideshowContainer {
    display: block;
    width: 100%;
    height: 450px;
    position: relative;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    line-height: 36px;
    border-radius: 50%;
    transition: 0.6s ease;
    user-select: none;
}

.next {
    right: 32px;
}

.prev {
    left: 32px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.2);
}