/*
main elements

page classes

group classes

properties
*/

/* main elements */
@import "./styles/base.css";

/* page classes */

@import "./styles/pages.css";

/* group classes */

@import "./styles/components.css";

/* properties */

@import "./styles/layout.css";