body {
    margin:0 ;
}

h1 {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 3em;
}

p {
    margin: 0;
    padding: 0;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

.nav-bar li {
    display: inline;
    margin-right: 20px;
}

.banner {
    width: 100%;
    height: auto;
    display: block;
    mask-image: linear-gradient(to bottom, black 0, transparent 100%);
}

.header {
    position: absolute;
    top: 400px;
    left: 100px;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.header a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.projects {
    list-style-type: none;
    padding: 0;
}

.projectItem {
    display: flex;
    height: 350px;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 16px;
}

.left {
    flex-direction: row-reverse;
}

.projectItem img{
    object-fit: cover;
    width: 300px;
    height: auto;
}

.tags {
    list-style-type: none;
    padding: 10px
}

.tags li {
    display: inline;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin-right: 10px;
    padding: 5px 10px;
}

.squeeze {
    margin: 0 32px;
}