html {scroll-behavior: smooth;}

.prevent-select {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

:root{
	--main-bg-color: #3f3f3f;
	--about-bg-color: #1c1c1c;
	--second-color : gray;
}

body {
	margin:0;
	font-family: Tahoma, sans-serif;
	color: black;
	background-color: burlywood;
}

footer {
	padding-top: 2vh;
	padding-bottom: 4vh;
}

	p {font-family: Arial, sans-serif;}
	
	button {
		background-color: #333;
		width: 100%;
		border: none;
		color: white;
		padding: 10px 32px;
		text-align: center;
		text-decoration: none;
		justify-content: center;
		display: flex;
		font-size: 100%;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		transition: all 0.4s ease;
	}

	button:hover {
		background-color: #9b5a3993;
		padding-top: 5%;
		padding-bottom: 5%;
		transition: all 0.6s ease;
	}

	button:active{
		transform: scale(0.95);
	} 
	

	#frontCover {
		/*border: 2px solid gray;*/
		background-image: url("FrontImage.jpg");
		background-color: #b4b4b4;
		background-repeat: no-repeat;
		background-size: cover;
		background-blend-mode: multiply;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.title{
		/*border: 2px solid black;*/
		text-align: left;
		font-weight: bolder;
		letter-spacing: 2px;
		line-height: 1.2;
	}
	
	.title p{
		font-family: customFont; 
		color: white; 
		font-size: 6vw; 
		margin: 1vh;
	}
	
	.header{
		list-style: none;
		overflow: hidden;
		background-color: var(--about-bg-color);
		z-index:1;
		padding: 0;
		margin: 0;
		position: sticky;
		top: 0;
	}

	.header li {
		float: right;
	}

	.header li a {
		display: block;
		padding: 14px ;
		color: white;
		text-decoration: none;
	}
	
	#page2{
		/*border: 2px solid black;*/
		background-color: var(--about-bg-color);
		width: auto;
		height: auto;
	}
	
	#title {
		/* outline: 1px dotted white; */
		
		height: auto;
		font-family: customFont; 
		color: white; 
		font-size: 100px;
		text-align:center;

	}
	
	#briefSummary {
		/* outline: 2px dotted white; */
		min-height: 100vh;
		color: white;
		padding: 10px;
		
		display: block;
		flex-wrap: wrap;
	}

	.columns {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
	
	.description{
		/* outline: 1px dotted gray; */
		min-width: 200px;
		max-width: 300px;
		width: 30%; 
	}

	.description div{
		background-color: rgba(0,0,0,0.3);
		border-radius: 20px;
		padding:  5px 20px;
	}
	
	#photoFrame{
		outline: 15px solid rgba(0,0,0, 0.2);
		width: 280px;
		height: 280px;
		color: var(--second-color);
		background-color: rgba(0,0,0,0.2);
		border-radius: 100% 100% 100% 100%;
		margin:10px;
	
	}

	#mySkills{
		/* outline: 2px dotted white; */
		min-height: 100vh;
		color:white;
		padding-top:10vh;
		
		display: flex;
		justify-content: center;
		align-content:start;
		flex-wrap: wrap;
	}

	.gallery {
		/* outline: dotted; */
		display: flex;
		flex-wrap: wrap;
		max-height: auto;
		justify-content: center;
		align-items: center;
	}

	#courseList{
		background-color: #333;
		height: 60vh;
		min-width: 400px;
		width: 40%;
		overflow: auto;
		padding-left: 5px;
		margin-left: 20px;
	}

	#courseList p{
		padding: 10px;
	}

	.modal {
		display: none;
		position: fixed;
		z-index: 1;
		padding-top: 100px;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgb(0,0,0);
		background-color: rgb(0,0,0,0.9);
	}

	.modelContent {
		margin: auto;
		display: block;
		width: 80%;
	}

	#myImg {
		background-color: white;
		border-radius: 20px;
		width: 100%;
	}

	.close {
		position: absolute;
		top: 15px;
		right: 35px;
		color: white;
		font-size: 40px;
		font-weight: bold;
		transition: 0.3s;
		cursor: pointer;
	}


	#myProjects{
		/* outline: 2px dotted white; */
		margin:auto;
		align-items: center;
		height: 100vh;
		color:white;
		display: flex;
		justify-content: center;
		align-content: start;
		flex-wrap: wrap;
	}

