
@import "./styles/global.css";

/* base elements */
@import "./styles/base.css";

/* page classes */
@import "./styles/pages.css";

/* components classes */
@import "./styles/components.css";

/* layout */
@import "./styles/layout.css";

/* typography */
@import "./styles/typography.css"