body {
    margin:0 ;
}

h1 {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 3em;
}

p {
    margin: 0;
    padding: 0;
}

.constructionBody{
    background-color: #c4daee;
}

.contactBody{
    background-image: linear-gradient(to bottom right, #d1603d, #ff8d4a, #ff8d4a, #d1603d);
}

.authorBody {
    background-color: #4f3824;
    color: white;
}

.white {
    color: white;
}

.black {
    color: black;
}

.navBar {
    display:flex;
    justify-content:center;
    list-style-type: none;
    margin: 0;
    padding: 32px; 
}

.navItem {
    display: inline;
    margin-right: 16px;
    font: 2em;
}

.navItem a {
    text-decoration: none;
    font-size: 1.5em;
}

.headerContainer {
    position: relative;
}

.banner {
    width: 100%;
    height: 60%;
    display: block;
    object-fit: cover;
    mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.73), transparent 100%);
}

.plainHeader {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

.header {
    position: absolute;
    top: 60%;
    left: 10%;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.header a {
    color: white;
    margin-right: 16px;
    text-decoration: none;
}

.projects {
    list-style-type: none;
    padding: 0;
}

.projectItem {
    display: flex;
    height: 350px;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 16px;
}

.left {
    flex-direction: row-reverse;
}

.projectItem img{
    object-fit: cover;
    width: 300px;
    height: auto;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
    padding-left: 0px;
}

.tags li {
    display: inline;
    background-color: #f0f0f0;
    border-radius: 16px;
    margin: 0px 8px 8px 0px;
    padding: 4px 8px;
}

.squeeze {
    margin: 0 32px;
}

.bigButton {
    display: inline-block;
    border: #4f3824 solid;
    margin-top: 8px;
    margin-right: 4px;
    border-radius: 4px;
    padding: 4px 8px;
    text-decoration: none;
    color: #4f3824;
    font-size: 1em;
}

.grow {
    display: inline-block;
    transition: transform .2s;
}

.grow:hover {
    transform: scale(1.2);
}

.down {
    position: absolute;
    bottom: 16px;
}

.formGroup {
    margin-bottom: 16px;
    display: block;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container {
    border-radius: 16px;
    background-color: #ff754a;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding: 32px;
}